body {
  margin: 0;
  background-color: black;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.star {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: white;
}

.star-wars {
  position: absolute;
  top: 50%;
  left: 50%;
  perspective: 380px;
  perspective-origin: bottom;
  transform: scaleY(0.9);
  transform: translate(-50%, -50%);
  color: rgb(255, 208, 0);
  text-align: center;
  white-space: nowrap;
  font-size: 2rem;
}

.crawl {
  position: relative;
  animation: crawl 30s linear 1;
}

@keyframes crawl {
  from {
    transform: rotateX(21deg) translate3d(0, 40rem, 0);
    opacity: 1;
  }

  to {
    transform: rotateX(21deg) translate3d(0, -150rem, 0);
    opacity: 0;
  }
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  margin: 10px 0;
}

.force {
  margin-top: 4rem;
  font-size: 3rem;
  font-style: italic;
}